.daire {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-lightpink-100);
  width: 40px;
  height: 40px;
}
.altMenu {
  position: absolute;
  width: 99.79%;
  right: 0;
  bottom: 0;
  left: 0.21%;
  background-color: var(--color-white);
  height: 42px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.plus,
.ustmenuChild,
.ustmenuItem {
  position: absolute;
  background-color: var(--color-mediumpurple);
  width: 98px;
}
.plus {
  right: 23px;
  bottom: 78px;
  border-radius: 50%;
  height: 98px;
}
.ustmenuChild,
.ustmenuItem {
  margin: 0 !important;
  top: 0;
  left: 157px;
  height: 80px;
  z-index: 0;
}
.ustmenuItem {
  left: 0;
  z-index: 1;
}
.ustmenu,
.ustmenuInner {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
}
.ustmenuInner {
  margin: 0 !important;
  background-color: var(--color-mediumpurple);
  width: 98px;
  z-index: 2;
}
.ustmenu {
  width: calc(100% - 3px);
  left: 3px;
  background-color: #f1a4a4;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.headerChild {
  position: relative;
  width: 90px;
  height: 75px;
  object-fit: cover;
}
.denemeDevam {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  height: 55px;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 75px;
  object-fit: cover;
}
.frameItem {
  position: absolute;
  top: 16px;
  left: 100px;
  background-color: #d9d9d9;
  width: 55px;
  height: 43px;
}
.polygonParent {
  position: relative;
  width: 207px;
  height: 75px;
}
.header {
  position: absolute;
  width: calc(100% - 2px);
  top: 80px;
  right: 0;
  left: 2px;
  background-color: #695858;
  height: 115px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  color: var(--color-white);
}
.buttoniconChild {
  position: relative;
  width: 75px;
  height: 44px;
  object-fit: cover;
}
.butonDeneme {
  position: relative;
  letter-spacing: 0.05em;
}
.buttonicon,
.buttonicon1 {
  position: absolute;
  top: 250px;
  left: 23px;
  border-radius: var(--br-12xl);
  background-color: var(--color-lightpink-100);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xl);
}
.buttonicon1 {
  top: 381px;
  left: 12px;
}
.altMenuParent {
  position: relative;
  background-color: #f0e6e6;
  width: 100%;
  height: 1234px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-arial);
}
