.justDoIt,
.toDoList {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  height: 3.03rem;
  flex-shrink: 0;
}
.toDoList {
  font-size: inherit;
}
.justDoIt {
  font-size: var(--font-size-13xl);
  color: #af9b9b;
}
.todo {
  flex: 1;
  height: 6.69rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 0.63rem;
}
.sun1Icon {
  position: relative;
  width: 3.31rem;
  height: 3rem;
  object-fit: cover;
}
.header,
.sun {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sun {
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  cursor: pointer;
}
.header {
  align-self: stretch;
  height: 6.69rem;
  justify-content: space-between;
  font-size: var(--font-size-29xl);
}
.dividerChild {
  flex: 1;
  position: relative;
  background-color: var(--color-darkgray-100);
  height: 0.06rem;
}
.divider {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.iconCircleX {
  position: relative;
  width: 2.94rem;
  height: 2.78rem;
  object-fit: cover;
}
.incompleteTask {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  height: 2.63rem;
}
.vectorIcon {
  position: relative;
  width: 3.16rem;
  height: 2.19rem;
  object-fit: cover;
}
.iconTrash,
.incomplete {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.iconTrash {
  width: 3.19rem;
  flex-shrink: 0;
  justify-content: flex-end;
}
.incomplete {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-smi);
}
.iconCircleCheck {
  position: relative;
  width: 2.97rem;
  height: 2.44rem;
  object-fit: cover;
}
.completeTask {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  height: 2.63rem;
}
.vectorIcon1 {
  position: relative;
  width: 3.16rem;
  height: 2.15rem;
  object-fit: cover;
}
.iconTrash1 {
  width: 3.75rem;
  height: 2.13rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.addToDo {
  border: 0;
  outline: 0;
  font-family: var(--font-arial);
  font-size: var(--font-size-13xl);
  background-color: transparent;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  color: var(--color-white);
  text-align: left;
}
.todolistcontainer,
.todopage {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.todolistcontainer {
  align-self: stretch;
  flex: 1;
  background-color: #524949;
  flex-direction: column;
  padding: 1.88rem;
  gap: 1.69rem;
}
.todopage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 35.5rem;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-arial);
}
@media screen and (max-width: 960px) {
  .justDoIt,
  .toDoList {
    text-align: center;
  }
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
}
@media screen and (max-width: 420px) {
  .todo {
    flex: unset;
    align-self: stretch;
  }
  .header {
    flex-direction: column;
  }
}
